body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

header {
    background: #ebebeb;
    height: 75px;
    width: 100%;
    position: relative;
    margin-bottom: -10px;
 }

nav {
    background: #ebebeb;
    position: relative;
    margin-bottom: 10px;
    height: 75px;
    width: 100%;
}

section {
    background: #ebebeb;
    width: 495px;
    height: 300px;
    position: relative;
    margin-left: 0px;  
    margin-top: -8px;
      
}

aside {
    background: #ebebeb;
    width: 450px;
    height: 300px;
    position: relative;
    float: right;
    margin-right: 0px;
    
}

article {
    color: #ebebeb;
    background: #777;
    position: relative;
    margin: 5px 10px 10px 10px;
    padding-top: 0px;
    padding-bottom: 25px;
}

h1, p {
    color: #777;
    background: #ebebeb;    
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px; 
}


.article {
    color:#ebebeb;
    background: #777;
    position: relative;
}

footer {
    background: #ebebeb;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    position: relative;
}




